html {
    display: flex;
    padding: 50px;
    background-color: black;
    color: antiquewhite;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
header {
    display: flex;
    margin-block-end: 30px;
}



.table {
   padding: 10px;
    float: inline;
    border-color: aliceblue;
    border-style: solid ;
    border-radius: 15px;
}
th {
    padding: 10px;
    border-style: solid;
    border-color: lavender ;
}

aside {
 position: absolute;
 right: 300px;
 top: 600px;
}


